@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  color: #ffffff;
}
.heart {
  color: black;
}
.headerPic {
  background-position-y: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}
.subPic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.client {
  width: 820px;
  height: 30px;
  border-radius: 10px;
}
